


{% include 'header.html' %}
    <!-- HEADER , MENU END -->

    <div class="content-wrapper">
        <main class="main-content">
            <h1>About Us</h1>


            <hr>


        </main>

        <aside class="sidebar">
            <section class="widget">
                
            </section>

            <section class="widget">
                
            </section>

            <section class="widget">
   
            </section>
        </aside>
    </div>

{% include 'footer.html' %}