


{% include 'admin_header.html' %}
    <!-- HEADER , MENU END -->

    

    <div class="content-wrapper">
        <main class="main-content">

            <hr>
                <table>
                        <thead>
                            <tr>
                            <th>Emopoyee ID</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Details</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for n in emplist %}

                            <tr>
                            <td> {{n[0]}} </td>
                            <td> {{n[1]}} </td>
                            <td> {{n[2]}} </td>
                            <td> <a href="/admin_emp_profile?eid={{n[0]}}" class="btn btn-success">view</a> </td>

                            </tr>

                            {% endfor %}
                        </tbody>
                </table>



            
        </main>

        <aside class="sidebar">        

            <section class="widget">
                <h3>DASHBOARD</h3>
                
            </section>
        </aside>
    </div>

{% include 'footer.html' %}