<!--  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>admin_dashboard</title>
    <link rel="stylesheet" href="\static\css\style.css">
</head>
<body>

    <header class="site-header">
        <h1>HR ERP SYSTEM</h1>
        <p>POWERED BY LAKSH IT SOLUTION</p>
    </header>

    <nav class="main-nav">
        <ul>  
            <li><a href="/">HOME</a></li>
            <li><a href="/aboutus">ABOUT US</a></li>
            <li><a href="/adminlogin">ADMIN LOGIN</a></li>
            <li><a href="contact">CONTACT</a></li>
        </ul>
    </nav> -->



     
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>admin_DASHBOARD</title>
    <link rel="stylesheet" href="\static\css\style.css">

    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
      thead {
        background-color: #1c87c9;
        color: #ffffff;
      }
      th {
        text-align: center;
        height: 50px;
      }
      tbody tr:nth-child(odd) {
        background: #ffffff;
      }
      tbody tr:nth-child(even) {
        background: #f4f4f4;
      }
    </style>
</head>
<body>

    <header class="site-header">
        <h1>HR ERP SYSTEM</h1>
        <p>POWERED BY LAKSH IT SOLUTION</p>
    </header>

    <nav class="main-nav">
        <ul>  
            <li><a href="/admin_home">HOME</a></li>
            <li><a href="/admin_addemployee">ADD EMPLOYEE</a></li>
            <li><a href="/admin_showemployee">SHOW EMPLOYEE</a></li>
            <li><a href="/admin_searchemployee">SEARCH EMPLOYEE</a></li>
            <li><a href="/admin_logout">LOGOUT</a></li>
        </ul>
    </nav>
 