
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>admin_LOGIN</title>
    <link rel="stylesheet" href="\static\css\style.css">
</head>
<body>

    <header class="site-header">
        <h1>HR ERP SYSTEM</h1>
        <p>POWERED BY XYZ</p>
    </header>

    <nav class="main-nav">
        <ul>  
            <li><a href="/">HOME</a></li>
            <li><a href="/aboutus">ABOUT US</a></li>
            <li><a href="/adminlogin">ADMIN LOGIN</a></li>
            <li><a href="contact">CONTACT</a></li>
        </ul>
    </nav>